<div class="w-full">
  <h1 class="mb-10 font-bold text-center text-4xl">Lobbies</h1>

  <div class="flex justify-around mx-auto mb-10">
    <%= button_to "Create a lobby", lobbies_path %>
    <%= button_to "Delete all lobbies", lobbies_path, method: :delete %>
  </div>

  <%= turbo_frame_tag "lobbies", class: "grid grid-cols-3 gap-3" do %>
    <% @lobbies.each do |lobby| %>
      <%= link_to lobby_path(lobby.code), data: { turbo_frame: "_top" }, class: "flex justify-between items-center max-w-sm p-4 bg-white rounded-""lg" do %>
        <span><%= lobby.code %></span>
        <span><%= lobby.players.count %> Players</span>
        <span><%= lobby.created_at.strftime("%d.%m.%y") %></span>
      <% end %>
    <% end %>
  <% end %>
</div>
