<div class="flex w-full p-2">
  <div class="p-3 border border-gray-200">
    <% @lobby.players.each do |player| %>
      <div class="block">
        <%= player.name %> - <%= "Host" if player.host? %>
      </div>
    <% end %>
    <%= button_to "Leave Lobby", player_path(id: Current.player.id), method: :delete, class: "text-red-500" %>
  </div>

  <%= turbo_stream_from "game_#{@lobby.game.id}" %>

  <%= turbo_frame_tag "game_#{@lobby.game.id}", class: "flex-1" do %>
    <%= render @lobby.game %>
  <% end %>
</div>
