<h2>Pick a song</h2>

<%= turbo_frame_tag "song_search_query" do %>
	<%= form_with url: song_searches_path, method: :get, data: { turbo_stream: true } do %>
		<%= hidden_field_tag :round_id, round.id %>
		<%= hidden_field_tag :player_id, Current.player.id %>
		<%= text_field_tag :query, params[:query], placeholder: "Search for a song..." %>
		<%= submit_tag "Search" %>
	<% end %>

	<%= turbo_frame_tag "song_search_results" %>
<% end %>
