<%= turbo_frame_tag round, class: "w-full" do %>
	<%= turbo_frame_tag "scoreboard" do %>
		<h2>Standings</h2>

		<% round.game.players.each do |player| %>
			<%= turbo_frame_tag player do %>
				<%= player.name %> - <%= player.score %>
			<% end %>
		<% end %>
	<% end %>

	<% if round.next_song? %>
		<%= button_to "Next song", game_round_path(round.game, round, round: { status: "started" }), method: :patch %>
	<% else %>
		<%= button_to "End round", game_round_path(round.game, round, round: { status: "ended" }), method: :patch %>
	<% end %>
<% end %>
