<%= turbo_frame_tag round, class: "w-full" do %>
	<h2>Current Song: <%= round.current_song.title %></h2>

	<%= form_with model: [round.game, round, Guess.new], local: false do |f| %>
		<%= f.text_field :content, placeholder: "Your guess" %>
		<%= f.submit "Submit Guess" %>
	<% end %>
<% end %>
