<%= turbo_frame_tag round, class: "w-full" do %>
  <%= turbo_stream_from "round_#{round.id}_guesses", data: { test: "round_#{round.id}_guesses" } %>

  <div data-controller="timer" data-timer-end-time-value="<%= (Time.current + 30.seconds).to_i %>" data-timer-hint-outlet="#hint">
    <span data-timer-target="timerDisplay">30</span>

    <div class="flex gap-10">
      <div>
        <%= image_tag round.current_song.image, loading: "lazy", data: { timer_target: "image"}, class: "max-w-40 h-auto rounded-lg transition-all" %>
        <p data-controller="hint"
           data-hint-initial-hint-value="<%= round.current_song.initial_hint %>"
           data-hint-first-letter-hint-value="<%= round.current_song.hint_with_first_letters %>"
           data-hint-both-letters-hint-value="<%= round.current_song.hint_with_both_letters %>"
           id="hint">
          <span data-hint-target="hintDisplay"></span>
        </p>
        <audio autoplay class="hidden">
          <source src="<%= round.current_song.preview_url %>" type="audio/mpeg">
        </audio>
      </div>

      <div class="self-end overflow-hidden w-full">
        <%= turbo_frame_tag "round_#{round.id}_guesses", class: "w-full h-full" do %>
          <%= render partial: "guesses/guess", collection: round.guesses %>
        <% end %>

        <%= form_with model: [round.game, round, Guess.new], data: { controller: "guess-form" } do |f| %>
          <%= f.hidden_field :song_id, value: round.current_song.id %>
          <%= f.hidden_field :player_id, value: player.id %>

          <%= turbo_frame_tag "round_#{round.id}_guesses_input" do %>
            <% if round.current_song.player == player %>
              <%= f.text_field :content, placeholder: "Not allowed to guess your own song", disabled: true, class: "w-full cursor-not-allowed" %>
            <% elsif player.guessed_song_correctly?(song: round.current_song) %>
              <%= f.text_field :content, disabled: true, class: "w-full cursor-not-allowed" %>
            <% else %>
              <%= f.text_field :content, placeholder: "Take a guess", data: { guess_form_target: "input" }, autofocus: true, class: "w-full" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
