<%= turbo_frame_tag round, class: "w-full" do %>
	<%= turbo_stream_from "round_#{round.id}_guesses" %>

	<div class="flex gap-10">
		<div>
			<h2>Current Song: <%= round.current_song.title %></h2>
			<%= image_tag round.current_song.image, class: "max-w-40 h-auto rounded-lg blur-md" %>
			<audio autoplay class="hidden">
				<source src="<%= round.current_song.preview_url %>" type="audio/mpeg">
			</audio>
		</div>

		<div class="self-end overflow-hidden w-full">
			<%= turbo_frame_tag "round_#{round.id}_guesses" do %>
				<%= render partial: "guesses/guess", collection: round.guesses %>
			<% end %>

			<%= form_with model: [round.game, round, Guess.new], data: { controller: "guess-form" } do |f| %>
				<%= f.hidden_field :song_id, value: round.current_song.id %>
				<%= f.text_field :content, placeholder: "Take a guess", data: { guess_form_target: "input" }, autofocus: true, class: "w-full" %>
			<% end %>
		</div>
	</div>
<% end %>
