<%= turbo_frame_tag guess do %>
	<% if guess.correct? %>
		<p class="text-green-500 text-sm"><%= guess.player.name %> guessed the song!</p>
	<% elsif guess.close? %>
		<p class="text-yellow-500 text-sm"><%= guess.player.name %> was close!</p>
	<% else %>
		<p class="text-<%= guess.player.color %>-500 text-sm"><%= guess.player.name %></p>
		<p class="text-gray-500 text-sm"><%= guess.content %></p>
	<% end %>
<% end %>
