<%= turbo_frame_tag "ready_players", class: "flex justify-center items-center gap-5 w-full" do %>
	<% players.each do |player| %>
		<%= turbo_frame_tag "#{dom_id(player)}_ready", class: "block p-2 w-[115px] text-center bg-#{player.color}-50 rounded-lg" do %>
			<%= image_tag "avatars/#{player.avatar}.png", loading: "lazy", class: "w-12 mx-auto h-12 rounded-full", style: "background-color: #{player.avatar_bg_color};" %>

			<p class="text-<%= player.color %>-500 font-medium"><%= player.name %></p>

			<%= render partial: "ready/player_status", locals: { player: player } %>
		<% end %>
	<% end %>
<% end %>
