<%= turbo_frame_tag "ready_players" do %>
	<div class="flex justify-center gap-10">
		<% players.each do |player| %>
			<%= turbo_frame_tag "#{dom_id(player)}_ready", class: "w-20 text-center" do %>
				<%= image_tag player.avatar.url, class: "w-12 h-12 mx-auto rounded-full", style: "background-color: #{player.avatar_bg_color};" %>

				<p class="text-<%= player.color %>-500 font-medium"><%= player.name %></p>

				<% if player.ready? %>
					<p class="text-sm text-green-500">Ready</p>
				<% else %>
					<p class="text-sm text-red-500">Not Ready</p>
				<% end %>
			<% end %>
		<% end %>
	</div>
<% end %>

<%= turbo_frame_tag "ready" do %>
	<% if player.ready? %>
		<%= render partial: "ready/round_unready", locals: { game: game, round: round, player: player } %>
	<% else %>
		<%= render partial: "ready/round_ready", locals: { game: game, round: round, player: player } %>
	<% end %>
<% end %>
