<%= turbo_frame_tag "#{dom_id(player.lobby)}_#{dom_id(player)}" do %>
	<div class="flex items-center gap-2">
		<%= image_tag player.avatar.url, class: "w-12 h-12 rounded-full", style: "background-color: #{player.avatar_bg_color};" %>
		<div>
			<p class="text-<%= player.color %>-500 font-medium"><%= player.name %></p>
			<p><%= player.score %> Points</p>
		</div>
	</div>
<% end %>
